.well.text-center
  %h1 Browse by genre
  %p.lead and find the right station for your mood
.row
  .col-md-4{'ng-repeat' => 'col in columns'}
    .panel.panel-primary.genre{'ng-repeat' => '(key, subgenres) in col'}
      .panel-heading
        %a{href: "/genres/{{subgenres.name}}"}
          %i.fa.fa-folder-o.pull-left
          %h3.panel-title {{subgenres.name}}
      .panel-body
        %a.btn.btn-info.btn-genre{'ng-repeat' => 'subgenre in subgenres', href: "/genres/{{subgenre}}"}
          {{subgenre}}

