.container
  .header
    .navbar.navbar-default{role: :navigation, 'bs-navbar' => true}
      .navbar-header
        %a.navbar-brand{href: '/'} iCast
      %ul.nav.navbar-nav
        %li{'data-match-route' => '/'}
          %a{href: '/'} Home
        %li{'data-match-route' => '/local'}
          %a{href: '/local'} Local
        %li{'data-match-route' => '/genres(/.*)?'}
          %a{href: '/genres'} By Genre
      %form.navbar-form.navbar-left{role: "search", 'ng-controller' => 'SearchCtrl', 'ng-submit' => 'submit()'}
        .form-group
          %input.form-control{type: :text, placeholder: 'Search', 'ng-model' => 'navbarQuery'}
        %button.btn.btn-default{type: "submit"} Go
      %ul.nav.navbar-nav.navbar-right{'ng-controller' => 'SessionCtrl'}
        %li{"ng-show" => 'currentUser.email'}
          %a{href: '', 'ng-click' => 'logout()'} Sign Out
        %li{"ng-hide" => 'currentUser.email'}
          %a{href: '/signup'} Sign Up
        %li{"ng-hide" => 'currentUser.email'}
          %a{href: '/signin'} Sign In

    .yield{'ng-view' => true}

  .footer
    .row
      .col-md-4
        %ul
          %li= link_to 'Api', apipie_apipie_path, target: '_blank'
          %li= link_to 'Admin', admin_root_path, target: '_blank'
      .col-md-4
        %ul
          %li= link_to 'Report an issue', 'https://github.com/elthariel/icast/issues', target: '_blank'
      .col-md-4
        %ul
          %li
            ♥ from the iCast team.

%player
  Player will be here

/[if lt IE 9]
/  %script{:src => "bower_components/es5-shim/es5-shim.js"}
/  %script{:src =>"bower_components/json3/lib/json3.min.js"}
