.jumbotron
  %h1 Radio in the air
  %p.lead
    %img{:alt => "I'm Yeoman", :src => "images/yeoman.png"}/
    %br/
    Always a pleasure scaffolding your apps.
  %p
    %a.btn.btn-lg.btn-success{"ng-href" => "#"} Splendid!
.row.marketing
  %h4 HTML5 Boilerplate
  %p
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  %h4 Angular
  %p
    AngularJS is a toolset for building the framework most suited to your application development.
  %h4 Karma
  %p Spectacular Test Runner for JavaScript.
.footer
  %p ♥ from the Radioxide team
