.jumbotron
  %h1 Open Streams Directory
  %p.lead
    /%img{:alt => "I'm Yeoman", :src => "images/yeoman.png"}/
    %br/
    iCast frontend is under heavy development. API is more stable and tested
  %p
    %a.btn.btn-lg.btn-success{"ng-href" => "#"} Splendid!
.row.marketing
  %h4 Add a description here
  %p
    To explain people how cool and usefulle we are (or will be)
