#player
  .container
    .controls.pull-left
      %a.btn.btn-primary.btn-lg{'ng-hide' => 'player.playing', 'ng-click' => 'play()', 'ng-class' => '{disabled: !player.radio.streams}'}
        %i.fa.fa-play
      %a.btn.btn-primary.btn-lg{'ng-show' => 'player.playing', 'ng-click' => 'stop()'}
        %i.fa.fa-stop
      .btn-group-vertical
        %a.btn.btn-default.btn-sm
          %i.fa.fa-refresh
        %a.btn.btn-default.btn-sm
          %i.fa.fa-heart
      %a{href: '#'}
        %img.logo{src: '{{player.radio.logo.medium}}'}

      #volume-controls
        %a
          %i.fa.fa-volume-up


    .infos
      .stream
        .name
          {{player.radio.name}}
        .slogan
          {{player.radio.slogan}}
      .playing
        {{player.playingText}}
