.radio-directive
  .help.text-info{'ng-hide' => 'radio'}
    %h2 Radio details
    Click on the name of a stream to get the stream's details
  .radio-details{'ng-show' => 'radio'}
    .radios-actions.pull-right.text-center
      %img.thumbnail{src: "{{radio.logo.medium}}", alt:"{{radio.name}} logo"}
      %a{href: '{{radio.details.website}}', target: '_blank', 'ng-show' => 'radio.details.website'}
        %i.fa.fa-home.fa-3x
      %a{href: 'http://twitter.com/{{radio.details.twitter}}', target: '_blank', 'ng-show' => 'radio.details.twitter'}
        %i.fa.fa-twitter.fa-3x
      %a{href: 'mailto:{{radio.details.email}}', target: '_blank', 'ng-show' => 'radio.details.email'}
        %i.fa.fa-envelope.fa-3x

    %h2
      %a{href: '#', 'ng-click' => 'play()'}
        %i.fa.fa-play
        .sr-only Play
      {{radio.name}}
      %small {{radio.slogan}}

    %h4
      %small.label.label-success{'ng-repeat' => 'genre in radio.genre_list'}
        {{genre}}

    .description{'ng-show' => 'radio.details.description'}
      %h3 Presentation
      %p.text-justify
        {{radio.details.description}}

    .lineup{'ng-show' => 'radio.details.lineup.length > 0'}
      %h3 Lineup
      %pre
        {{radio.details.lineup}}

    %p
      %strong Available streams:
      %stream{"ng-repeat" => 'stream in radio.streams', station: "radio", stream: "stream"}

    .contribute.text-center{'ng-show' => 'currentUser'}
      %a.btn.btn-lg.btn-primary{href: '/contribute/{{radio.slug}}'} Edit this station !


