.jumbotron{'ng-hide' => 'query'}
  %h1 Search for a station
  %p.lead By typing into the search input at the top

.row{'ng-show' => 'query'}
  .col-md-12.text-center
    %h1 Search results for '{{query}}'


.row{'ng-show' => 'query'}
  .col-md-5
    %paginate{collection: 'radios', path: '/search/{{query}}'}
    %ul.media-list.radio-thumb.with-details
      %radiothumb{'ng-repeat' => 'radio in radios', radio: 'radio', 'img-click' => 'play(radio)', 'body-click' => 'details(radio)' }
    %paginate{collection: 'radios', path: '/search/{{query}}'}
  .col-md-7
    %radio{radio: 'currentRadioId'}
